<p>
  <%= link_to 'ODT', "#{order_path(@order)}.odt" %> |
  <%= link_to 'PDF', "#{order_path(@order)}.pdf" %> |
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</p>